.dark {
    // background-color: #000;
    // color: #fff;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    // 取消button的默认样式
    button {
        border: none;
        background-color: transparent;
        cursor: none;
    }

    // 移动端取消 hover 效果
    @media (hover: none) {
        .hover\:cursor-pointer:hover {
            cursor: none !important;
        }
    }
    #app {
        width: 100vw;
        height: 100vh;
    }
    // 美化滚动条
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    // 动画时长
    $durationLeft: 0.1s;
    $durationRight: 0.3s;
    $durationUp: 0.3s;
    $durationDown: 0.2s;

    /*向左滑动*/
    @keyframes slideInLeft {
        from {
            transform: translate3d(100%, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    @keyframes slideInRight {
        from {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
        }
        to {
            transform: translate3d(-100%, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
    .slide-left-enter-active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        animation: slideInLeft $durationLeft linear forwards;
    }
    .slide-left-leave-active {
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100vw;
        // height: 100vh;
        animation: slideInRight $durationLeft linear forwards;
    }
    /*向右滑动*/
    @keyframes slideOutLeft {
        from {
            transform: translate3d(-100%, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    @keyframes slideOutRight {
        from {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(100%, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    .slide-right-enter-active {
        animation: slideOutLeft $durationRight linear forwards;
    }
    .slide-right-leave-active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        animation: slideOutRight $durationRight linear forwards;
    }
    // 向上滑动
    @keyframes slideInUp {
        from {
            transform: translate3d(0, 100%, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    @keyframes slideOutUp {
        from {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    .up-down-enter-active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        animation: slideInUp $durationUp linear forwards;
    }
    .up-down-leave-active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        animation: slideOutDown $durationUp linear forwards;
    }
    // 向下滑动
    @keyframes slideInDown {
        from {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
        }
        to {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    @keyframes slideOutDown {
        from {
            transform: translate3d(0, 0, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
        to {
            transform: translate3d(0, 100%, 0);
            position: fixed;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
}
